@model IEnumerable<KateFordLedger.Models.BankAccount>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountDateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountDateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountBalance)
        </td>
        <td>
            @Html.ActionLink("Transactions", "Index", "Transaction", new { bankAccountId = item.BankAccountId }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankAccountId })
        </td>
    </tr>
}

</table>
