@model KateFordLedger.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Transaction Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index", "Transaction", new { bankAccountId = (Guid)Session["BankAccountId"] }, null)
</p>
